.cards-text {
  display: grid;
  grid-template-areas:
    "superv team calc"
    ". karma ."
  ;
  column-gap: 20px;
  margin-top: 100px;
}

.card {
  width: 400px;
  background-color: #FFFFFF;
  height: 250px;
  border-radius: 15px;
  padding: 40px 30px 40px;
  font-size: 15px;
}

.card > .title-card {
  font-size: 22px;
  margin-bottom: 10px;
}

.card > .subtitle-card {
  opacity: 35%;
}

.image {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.-calc {
  grid-area: calc;
  margin-top: 100px;
  border-top: 5px groove hsl(212, 86%, 64%);
}

.-karma {
  grid-area: karma;
  margin-top: -50px;
  border-top: 5px groove hsl(34, 97%, 64%);
}

.-team {
  grid-area: team;
  border-top: 5px groove hsl(0, 78%, 62%);
}

.-super {
  grid-area: superv;
  margin-top: 100px;
  border-top: 5px groove hsl(180, 62%, 55%);
}